{% extends "base.html" %}

{% block title  %}Inicio de sesión{% endblock  %}

{% block head %}

  <!-- DASHBOARD ADMIN CSS -->
  <link href="/static/dash/dash-css/theme-rtl.css" rel="stylesheet" id="style-rtl" />
  <link href="/static/dash/dash-css/theme.min.css" rel="stylesheet" id="style-default" />
  <link href="/static/dash/dash-css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl" />
  <link href="/static/dash/dash-css/user.min.css" rel="stylesheet" id="user-style-default" />


  <!-- DASHBOARD ADMIN JS -->
  <script src="/static/dash/dash-js/popper.min.js"></script>
  <script src="/static/dash/dash-js/anchor.min.js"></script>
  <script src="/static/dash/dash-js/is.min.js"></script>
  <script src="/static/dash/dash-js/echarts.min.js"></script>
  <script src="/static/dash/dash-js/lodash.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="/static/dash/dash-js/list.min.js"></script>
  <script src="/static/dash/dash-js/theme.js"></script>
  <script src="/static/dash/dash-js/chart.min.js"></script>
  <script src="/static/dash/dash-js/countUp.umd.js"></script>
  <script src="/static/dash/dash-js/dayjs.min.js"></script>

{% endblock %} 


{% block content %}
<div class="row min-vh-100 bg-100">
    <div class="col-6 d-none d-lg-block position-relative">
      <div class="bg-holder" style="background-position: 50% 20%;">
        <img src="/static/img/inicio.jpg" alt="">
      </div>
    </div>
<div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
    <div class="row justify-content-center g-0">
      <div class="col-lg-9 col-xl-8 col-xxl-6">
        <div class="card">
          <div class="card-header bg-circle-shape bg-success bg-shape-success bg-color text-center p-2"><a class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light">3Vago</a></div>
          <div class="card-body p-4">
            <div class="row flex-between-center">
              <div class="col-auto">
                <h3>Iniciar Sesión</h3>
              </div>
              
            </div>
            <form action="{{ url_for('login') }}" method="post">
              <div class="mb-3">
                  <label class="form-label" for="split-login-email">Correo</label>
                  <input class="form-control" id="split-login-email" type="email" name="email" />
              </div>
              <div class="mb-3">
                  <label class="form-label" for="split-login-password">Contraseña</label>
                  <input class="form-control" id="split-login-password" type="password" name="password" />
              </div>
              <div class="mb-3">
                  <button class="btn btn-success d-block w-100 mt-3" type="submit">Iniciar Sesión</button>
              </div>
          </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock  %}