{% extends "base.html" %}

{% block title %} block {% endblock %} 


{% block content%}
<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title font-weight-bold">Bienvenido a 3vago</h1>
            <p class="card-text">Da clic en el siguiente botón para continuar</p>
            
            <a href="{{ url_for('login') }}" class="btn btn-primary w-100">Continuar</a>
        </div>
    </div>
</div>
{% endblock %} 


